@{
    ViewData["Title"] = "O nama";
}
<h3>@ViewData["Title"].</h3>
<h4>@ViewData["Message"]</h4>

@*<ul>
        <li>
            <a href="https://github.com/kedmenecr">Roberto Kedmenec</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/gorandavid/">Goran David</a>
        </li>
    </ul>*@

<hr />
@*da bi mailto link radio, klijentsko računalo treba imati podešen default Email klijent s kojim se otvaraju mailto linkovi*@
<div class="container">
    <h4><b>Ekipa E1</b></h4>
    <p>Tema: <a href="">Izvoz podataka</a> - <a target="_blank" href="https://drive.google.com/file/d/1e9RpRNkLIf7qB6a4J_dV7-cvd-FOm0Te/view">(Dokumentacija)</a></p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Prezime</th>
                <th>Ime</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Rubina</td>
                <td>Dominik</td>
                <td><a href="mailto:dominik.rubina@student.mev.hr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> dominik.rubina@student.mev.hr</td>
            </tr>
            <tr>
                <td>Šagij</td>
                <td>Matej</td>
                <td><a href="mailto:matej.sagij@student.mev.hr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> matej.sagij@student.mev.hr</td>
            </tr>
            <tr>
                <td>Škrlec</td>
                <td>Josip</td>
                <td><a href="mailto:josip.skrlec@student.mev.hr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> josip.skrlec@student.mev.hr</td>
            </tr>
            <tr>
                <td>Šušljek</td>
                <td>Zdravko</td>
                <td><a href="mailto:zdravko.susljek@student.mev.hr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> zdravko.susljek@student.mev.hr</td>
            </tr>

            <tr>
                <td><a style="display:block;" target="_blank" href="https://github.com/kedmenecr">Kedmenec</a></td>
                <td><a style="display:block;" target="_blank" href="https://github.com/kedmenecr">Roberto</a></td>
                <td><a href="mailto:roberto.kedmenec@student.mev.hr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> roberto.kedmenec@student.mev.hr</td>
            </tr>
        </tbody>
    </table>
</div>

<hr />
<div class="container">
    <h4><b>Ekipa E2</b></h4>
    <p>Tema: <a href="../Informacije/Info">Informacije o kolegiju i predavačima</a> - <a target="_blank" href="https://drive.google.com/file/d/1xhhlGJ-bqlZAdpGfcy5quPXw4hHxxK-M/view?ts=5a4391ae">(Dokumentacija)</a></p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Prezime</th>
                <th>Ime</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Požgaj</td>
                <td>Kristian</td>
                <td><a href="mailto:kristian.pozgaj@student.mev.hr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> kristian.pozgaj@student.mev.hr</td>
            </tr>
            <tr>
                <td>Tišljar</td>
                <td>Filip</td>
                <td><a href="mailto:filip.tisljar@student.mev.hr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> filip.tisljar@student.mev.hr</td>
            </tr>
            <tr>
                <td>Drvoderić</td>
                <td>Vanja</td>
                <td><a href="mailto:vanja.drvoderic@student.mev.hr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> vanja.drvoderic@student.mev.hr</td>
            </tr>
            <tr>
                <td>Ružaj</td>
                <td>Simon</td>
                <td><a href="mailto:simon.ruzaj@student.mev.hr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> simon.ruzaj@student.mev.hr</td>
            </tr>
            <tr>
                <td>Mikulčić</td>
                <td>Petar</td>
                <td><a href="mailto:petar.mikucicstudent.mev.hr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> petar.mikulcic@student.mev.hr</td>
            </tr>
        </tbody>
    </table>
</div>
<hr />

<div class="container">
    <h4><b>Ekipa E3</b></h4>
    <p>Tema: <a href="../StudentPodaci/Podaci">Podaci o studentu</a> - <a target="_blank" href="https://docs.google.com/document/d/1UQyrdCgzZ4tHX1EYDcupZa0kRWjbe59D15wlZh_B-zo/edit?ts=5a072c98">(Dokumentacija)</a></p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Prezime</th>
                <th>Ime</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a style="display:block;" target="_blank" href="https://www.linkedin.com/in/gorandavid/">David</a></td>
                <td><a style="display:block;" target="_blank" href="https://www.linkedin.com/in/gorandavid/">Goran</a></td>
                <td><a href="mailto:goran.david@student.mev.hr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> goran.david@student.mev.hr</td>
            </tr>
            <tr>
                <td>Ferenc</td>
                <td>Goran</td>
                <td><a href="mailto:goran.ferenc@student.mev.hr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> goran.ferenc@student.mev.hr</td>
            </tr>
            <tr>
                <td><a style="display:block;" target="_blank" href="https://github.com/MihaelV">Mihael</a></td>
                <td><a style="display:block;" target="_blank" href="https://github.com/MihaelV">Vinković</a></td>
                <td><a href="mailto:mihael.vinkovic@student.mev.hr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> mihael.vinkovic@student.mev.hr</td>
            </tr>
            <tr>
                <td><a style="display:block;" target="_blank" href="https://github.com/RusanS">Rusan</a></td>
                <td><a style="display:block;" target="_blank" href="https://github.com/RusanS">Stjepan</a></td>
                <td><a href="mailto:stjepan.rusan@student.mev.hr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> stjepan.rusan@student.mev.hr</td>
            </tr>
            <tr>
                <td>Fišter</td>
                <td>Ivica</td>
                <td><a href="mailto:ivica.fister@student.mev.hr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> ivica.fister@student.mev.hr</td>
            </tr>
        </tbody>
    </table>
</div>
<hr />
<div class="container">
    <h4><b>Ekipa E4</b></h4>
    <p>Tema: <a href="../User/Login">Autentifikacija u ASP.NET Core aplikaciji putem AAI@Edu.hr sustava</a> - <a target="_blank" href="https://docs.google.com/document/d/1zAnVS7U35dd_2p1lITP30JVvzeuaprqtm8RgXxCjqn8/edit?ts=5a09c3eb">(Dokumentacija)</a></p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Prezime</th>
                <th>Ime</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Juren</td>
                <td>Alen</td>
                <td><a href="mailto:alen.juren@student.mev.hr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> alen.juren@student.mev.hr</td>
            </tr>
            <tr>
                <td>Kovačić</td>
                <td>Matteo</td>
                <td><a href="mailto:matteo.kovacic@student.mev.hr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> matteo.kovacic@student.mev.hr</td>
            </tr>
            <tr>
                <td>Kozulić</td>
                <td>Ivan</td>
                <td><a href="mailto:ivan.kozulic@student.mev.hr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> ivan.kozulic@student.mev.hr</td>
            </tr>
            <tr>
                <td>Košić</td>
                <td>Emil</td>
                <td><a href="mailto:emil.kosic@student.mev.hr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> emil.kosic@student.mev.hr</td>
            </tr>
            <tr>
                <td>Matijević</td>
                <td>Luka</td>
                <td><a href="mailto:luka.matijevic@student.mev.hr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> luka.matijevic@student.mev.hr</td>
            </tr>
        </tbody>
    </table>
</div>
<hr />
<div class="container">
    <h4><b>Ekipa E5</b></h4>
    <p>Tema: <a href="">Rang lista</a> - <a target="_blank" href="https://drive.google.com/open?id=1w6a-B7SIfHws0cHc6h69BDjMRe2ELYUXGY66hn5-vGs">(Dokumentacija)</a></p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Prezime</th>
                <th>Ime</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Horvat</td>
                <td>Patrik</td>
                <td><a href="mailto:patrik.horvat@student.mev.hr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> patrik.horvat@student.mev.hr</td>
            </tr>
            <tr>
                <td>Šeketa</td>
                <td>Filip</td>
                <td><a href="mailto:filip.seketa@student.mev.hr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> filip.seketa@student.mev.hr</td>
            </tr>
            <tr>
                <td>Vidović</td>
                <td>Kristijan</td>
                <td><a href="mailto:kristijan.vidovic@student.mev.hr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> kristijan.vidovic@student.mev.hr</td>
            </tr>
            <tr>
                <td>Kolarić</td>
                <td>Sandra</td>
                <td><a href="mailto:sandra.kolaric@student.mev.hr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> sandra.kolaric@student.mev.hr</td>
            </tr>

            <tr>
                <td>Mirt</td>
                <td>Alen</td>
                <td><a href="mailto:amirt@student.mev.hr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> amirt@student.mev.hr</td>

            </tr>
        </tbody>
    </table>
</div>

<hr />

<div class="container">
    <h4><b>Ekipa E6</b></h4>
    <p>Tema: <a href="../UpisaniStudenti/Upisani">Lista upisanih studenata, školarine</a> - <a target="_blank" href="https://drive.google.com/open?id=1CNKDEqhgvTdRnU4Ox4REloxclbCj7MaI">(Dokumentacija)</a></p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Prezime</th>
                <th>Ime</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>David</td>
                <td>Levačić</td>
                <td><a href="mailto:david.levacic@student.mev.hrr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> david.levacic@student.mev.hr</td>
            </tr>
            <tr>
                <td>Davor</td>
                <td>Žufika</td>
                <td><a href="mailto:davor.zufika@student.mev.hr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> davor.zufika@student.mev.hr</td>
            </tr>
            <tr>
                <td>Hrvoje</td>
                <td>Prskalo</td>
                <td><a href="mailto:hrvoje.prskalo@student.mev.hr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> hrvoje.prskalo@student.mev.hr</td>
            </tr>
            <tr>
                <td>Ivica</td>
                <td>Vražić</td>
                <td><a href="mailto:ivica.vrazic@student.mev.hr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> ivica.vrazic@student.mev.hr</td>
            </tr>
            <tr>
                <td>Tomislav</td>
                <td>Židov</td>
                <td><a href="mailto:tomislav.zidov@student.mev.hr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> tomislav.zidov@student.mev.hr</td>
            </tr>
        </tbody>
    </table>
</div>
<hr />

<div class="container">
    <h4><b>Ekipa E7</b></h4>
    <p>Tema: <a href="/Izostanci">Informacije o izostancima</a> - <a target="_blank" href="https://drive.google.com/file/d/1aajOqKNETS2pw9kZR6-8UQH3Hi8PC_1T6Awnjh2o5xw/view?usp=sharing">(Dokumentacija)</a></p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Prezime</th>
                <th>Ime</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Pravica</td>
                <td>Kristijan</td>
                <td><a href="mailto:kristijan.pravica@student.mev.hrr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> kristijan.pravica@student.mev.hr</td>
            </tr>
            <tr>
                <td>Mihoci</td>
                <td>Patrik</td>
                <td><a href="mailto:patrik.mihoci@student.mev.hr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> patrik.mihoci@student.mev.hr</td>
            </tr>
            <tr>
                <td>Tomorad</td>
                <td>Martin</td>
                <td><a href="mailto:martin.tomorad@student.mev.hr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> martin.tomorad@student.mev.hr</td>
            </tr>
            <tr>
                <td>Kestane</td>
                <td>Gorkem</td>
                <td><a href="mailto:gorkem.kestane@student.mev.hr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> gorkem.kestane@student.mev.hr</td>
            </tr>
            <tr>
                <td>Višnić</td>
                <td>Mladen</td>
                <td><a href="mailto:mladen.visnic@student.mev.hr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> mladen.visnic@student.mev.hr</td>
            </tr>
        </tbody>
    </table>
</div>

