<h1 class="text-center">Dobro došli na .NET Core projekt koji su radili studenti treće godine MEV-a , 2017/2018</h1>
<h2 class="text-center">Ispod se nazali svi feature-i koje su studenti napravili tijekom godine.</h2>


<div class="container">
    <div class="row">
        <div class="col-lg-4 col-xs-12">
            <div class="well"><a asp-area="" asp-controller="PregledOcjena" asp-action="Ocjene">Ocjene</a></div>
        </div>
        <div class="col-lg-4 col-xs-12">
            <div class="well"><a asp-area="" asp-controller="Izostanci" asp-action="Index">Izostanci</a></div>
        </div>
        <div class="col-lg-4 col-xs-12">
            <div class="well"><a asp-area="" asp-controller="StudentPodaci" asp-action="Podaci">Podaci o studentu</a></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-xs-12">
            <div class="well">
                <li><a asp-area="" asp-controller="UpisaniStudenti" asp-action="Upisani">Lista upisanih studenata</a></li>
                <li><a asp-area="" asp-controller="Skolarine" asp-action="Evidencija">Evidencija školarina</a></li>
            </div>
        </div>
        <div class="col-lg-4 col-xs-12">
            <div class="well">
                <li><a asp-area="" asp-controller="Ispis" asp-action="Ispis_podataka_o_studentu">Ispis podataka o studentu</a></li>

                <li><a asp-area="" asp-controller="Ispis" asp-action="Ispis_nepolozenih_kolegija">Ispis nepoloženih kolegija</a></li>

                <li><a asp-area="" asp-controller="Ispis" asp-action="Ispis_upisanih_kolegija">Ispis upisanih kolegija</a></li>
            </div>
        </div>
        <div class="col-lg-4 col-xs-12">
            <div class="well"><a asp-area="" asp-controller="RangLista" asp-action="RangListaView">Rang Lista</a></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-xs-12">
            <div class="well">
                <a asp-area="" asp-controller="Informacije" asp-action="Info">Informacije</a>
            </div>
        </div>
        <div class="col-lg-4 col-xs-12">
            <div class="well">
                <a asp-area="" asp-controller="Home" asp-action="About">O nama</a>
            </div>
        </div>
        <div class="col-lg-4 col-xs-12">
            <div class="well">
                <li><a asp-area="" asp-controller="User" asp-action="Logout">Odjava</a></li>
                <li><a asp-area="" asp-controller="User" asp-action="Login">Prijavi se</a></li>
            </div>
        </div>
    </div>
